body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: aliceblue;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calculate-btn{
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

#timeUnit{
  border-radius: 5px;
  padding: 5px;
}
.result {
  margin-top: 20px;
}
